* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*background-color: #Ffffff;
border-radius: 7px;
padding: 5px;*/






:root {
    --marrom: #663A28;
    --marromclaro: #CB7F44;
    --branco: #ffffff;
    --preto: #333131;
}

@font-face {
    font-family: Bell; 
    src: url(./fonts/bell-mt-bold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: Bell;
    src: url(./fonts/bell-mt.ttf);
    font-weight: 400;
}







body {
    background-color: var(--branco);
}

/* HEADER */

header{
    width: 100%;
   
  
}

header>div.container-flex {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 165px;
}

.container-flex {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

#logo_chata {
    width: 170px;
    height: auto;
}

.links{
    
    display: flex;
    align-items: center;
    gap: 35px;
}

.links a{
    font-size: 25px;
    color: var(--branco);
    text-decoration: none;
}


.links a:hover{
    color: var(--marromclaro);
    transition: background-color 500ms;
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;
}

#feitos {
    margin-bottom: 120px;
}

#feitos .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#feitos h2 {
    margin-left: 5px;
    
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#feitos .card {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 40px 20px;
    
 
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feitos .card h3 {
    font-size: 24px;
    margin: 5px 0 30px;

    font-family: "Bell", sans-linear-bold;
    text-align: center;
}

#feitos .card p {
    font-family: "Recursive", sans-linear;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#feitos .card svg {
    height: 75px;
    width: 1000px;
}


#feitos .card:hover svg {
    fill: var(--marromclaro);
}
.banner img{
    height: 100%;
    width: 100%;
}
.banner{
   background-image:url(./img/banner\ atelie\ copiar\ 2\ 1.png) ;
    height: 120vh;


    background-repeat: no-repeat;
    background-position: 0 -10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}

/* ---------------------------------------------- */


#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 120px;
    margin-bottom: 120px;
}
#sobre img {
    max-width: 460px;
    width: 40%;
    border-radius: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
#sobre h2 {
    margin-right: 5px;
}
#sobre .titulo 
{
        display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#sobre h2 {
    margin-bottom: 0;
    background-color: var(--marrom);
    border-radius: 20px;
    /* margin: 40px; */

 
}
.titulo h2{
    color: var(--branco);
    margin-bottom: 0;
    background-color: var(--marrom);
    border-radius: 20px;
    padding: 10px 18px;
}
.titulo span {
    color: var(#000000);
}
#sobre p{
    font-size: 25px;
}
.sobre{
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
#parallax {
    height: 250px;

    background-image: url(./img/parallax.svg);

    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./img/parallax.svg);
    background-attachment: fixed;
    background-size: 30%;
    margin-bottom: 120px;

}

.sobre span{
color: #ffffff;
margin-bottom: 0;
background-color: #663A28;
border-radius: 20px;
padding: 10px 18px;
}
#feitos-curso {
    margin-bottom: 120px;
}

#feitos-curso .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#feitos-curso h2 {
    margin-left: 5px;
    
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#feitos-curso .card {
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;
    background-color: #f3f2f2;
    box-shadow: 0 4px 8px 0 lch(0% 0 0 / 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feitos-curso .card h3 {
    font-size: 24px;
    margin: 5px 0 30px;
    color: var(--cnl);
    font-family: "Recursive", sans-linear-bold;
    text-align: center;
}

#feitos-curso .card p {
    font-family: "Recursive", sans-linear;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#feitos-curso .card svg {
    color: var(--verde-cnl);
    height: 75px;
}

#feitos-curso .card:hover {
    border: solid 3px var(--marrom-cnl);
}

#feitos-curso .card:hover h3 {
    color: var(--marrom-cnl);
}

#feitos-curso .card:hover svg {
    fill: var(--marrom-cnl);
}
.botao {
    height: 40px;
    width: 60%;
    background-color: var(--marrom);
    color: var(--branco);
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;}

    .botao2 {
    height: 40px;
    width: 60%;
    background-color: var(--marrom);
    color: var(--branco);
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;}

    .botao3 {
    height: 40px;
    width: 60%;
    background-color: var(--marrom);
    color: var(--branco);
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;}
    
    footer {
    height: 250px;
  background-color: #000000;
}

footer img {
    height: 90px;
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes-sociais {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.redes-sociais p {
    color: var(--branco);

    font-family: "Recursive", sans-linear-bold;
    font-size: 24px;
}

.icones-redes {
    width: 170px;

    display: flex;
    justify-content: space-between;
}

.icones-redes a {
    color: var(--branco);

}

.icones-redes a:hover {
    color: var(--marromclaro);
}
#sobre p {
    font-size: 20px;
}
.container-grid{
    width: 80vw;
    max-width: 100%;
    margin: 0 auto;
}
.sobre span{
color: #ffffff;
margin-bottom: 0;
background-color: #663A28;
border-radius: 20px;
padding: 10px 18px;
}
#feitos-curso svg{
    width: 150px;
}
.botao:hover {
    background-color: var(--marromclaro);

}
.botao2:hover {
    background-color: var(--marromclaro);

}
.botao3:hover {
    background-color: var(--marromclaro);

}
#pao img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 700px;
}
#gustavo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gustavo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.festival{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 40px;
}
.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato .titulo {
    justify-content: center;
    margin-bottom: 55px;
}

#contato h2 {
    margin-left: 5px;
}

#contato form {
    width: 90%;
    max-width: 980px;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 40px;
    background-color: var(--preto);
    border: solid 3px var(--roxo-pixelv);

    color: var(--branco);
    font-family: "Recursive", sans-linear;
    font-size: 17px;
}

.campo {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;

}

.campo-descricao {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: var(--preto);
    background-color: var(--branco);

    border: none;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    color: var(--preto);
    background-color: var(--branco);

    border: none;
    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;
}

.campo-lable,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: "Recursive", sans-linear;
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--branco);
}

#contato form button {
    height: 40px;
    width: 60%;

    background-color: var(--marrom);
    color: var(--branco);

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: var(--);

}
#contato span{
    font-family: "Recursive" sans-linear-bold;
    color: #000000;
}

#mouse{
    margin: 140px;
}
#parallax2 {
    margin-top: 100px;
    height: 250px;

    background-image: url(./img/parallax.svg);

    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./img/parallax.svg);
    background-attachment: fixed;
    background-size: 30%;
    margin-bottom: 120px;

}
#noticias {
    margin-bottom: 120px;
}

#noticias .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#noticias h2 {
    margin-left: 5px;
    
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#noticias .card {
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;
    background-color: #f3f2f2;
    box-shadow: 0 4px 8px 0 lch(0% 0 0 / 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#noticias .card h3 {
    font-size: 24px;
    margin: 5px 0 30px;
    color: var(--cnl);
    font-family: "Recursive", sans-linear-bold;
    text-align: center;
}

#noticias .card p {
    font-family: "Recursive", sans-linear;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#noticias .card svg {
    color: var(--verde-cnl);
    height: 75px;
}

#noticias .card:hover {
    border: solid 3px var(--marrom-cnl);
}

#noticias .card:hover h3 {
    color: var(--marrom-cnl);
}

#noticias .card:hover svg {
    fill: var(--marrom-cnl);
}

/* -------------------- Responsividade --------------- */

@media screen and (max-width: 768px) {
#sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

}
